:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #2b06af;
    --secundario: #060d6b;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    /*background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% ); */
    margin: auto;
}

img{
	float:left;
    max-width: 100%;
}


/* Navegacion Principal */
.nav-bg {
    background-color: var(--primario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column  ;
    text-align: center;  
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }

}

.navegacion-principal a {
    display: block;
    text-align:center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 30px; /* 2rem; */
    width: 20%;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--secundario);
    color: var(--blanco);
    /*opacity:  .7; */
}
.navegacion-principal span{
    font-size: 20px;
}
.navegacion-principal h1{
    font-size:30px;
    color: rgb(255, 255, 255);
    text-decoration: none; 
}
.navegacion-principal i{
    color: rgb(255, 255, 255);
  }

/*Tipografia */
h1, h3{
    text-align: left;
}
h1{
	font-size:30px;
}
/* Titulos */
.titulos h1, h2 {
    text-align: center; 
}



/* Hero */
.hero {
    background-image: url(../img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover; /*para que tome todo el ancho disponible */
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
  /*  background-color: rgba( 0,0,0, .7 ); */
  /*  background-color: rgba(209, 201, 201, 0.7);*/
    width: 98%;
    height: 92%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero h2 {
    color:rgb(52, 25, 102); /*var(--blanco);*/
    font-size: 40px;
    font-style: italic;
    
    position: absolute;
    top: 20%;
    left: 40%;
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}
.contenido-hero h3 {
    font-size: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
}

.texto-encima{
    position: absolute;
    top: 90%;
    left: 50%;
   /* top: 10px;
    left: 10px;*/
    transform: translate(-50%, -50%);
    font-size:30px;
    color: rgb(255, 255, 255);
}
.contenedor2{  /* actividades.html   */
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

/* contenedor  */ 
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;

}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}


/*
@media (min-width:480px) {*/
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
/*}*/


/*Tamaño de tablet*/
@media only screen and (max-width: 700px){
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

}

/*Tamaño de celular*/
@media only screen and (max-width: 500px){
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }

}


/** Contacto **/
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}


/** Footer **/
.footer {
    text-align: center;
}

footer{
	height: 60px;
	background-color:#333131;
	line-height:60px;
	text-align:center;
	color:rgb(242, 242, 247);
}



footer span{
    color: black;   
}

footer i{
    color:black;
}